<div class="ui grid">
    <div class="four wide column">
        <a class="avatar avatar-link">"

        </a>
    </div>

    <div class="eight wide column">
        <form class="ui form segment" method="post" enctype="multipart/form-data">
            <div class="field required">
                <label>标题</label>
                <input type="text" name="title">
            </div>
            <div class="field required">
                <label>内容</label>
                <textarea name="content" rows="15"></textarea>
            </div>
            <input type="submit" class="ui button" value="发布">
        </form>
    </div>
</div>