<div class="ui main text container">
    <h1 class="ui header text-center"><%= detail.title%></h1>
    <div class="text-center">
        <span>作者: </span> <%= detail.author%> &nbsp;&nbsp;&nbsp;
        <span>发布时间: </span> <%= detail.publishDate %>
    </div>
    <div class="mt-20">
        <p><%= detail.content %></p>
    </div>

</div>